/**
 * date: 2014/06/30	
 * 
 * author: xuming
 * 
 * email: xuming@coldworks.com
 */
#nav { width: 940px; height: 60px; text-align: center; line-height: 60px; font-size: 28px; background: #C9DBF1;margin-left: 4px; }
#nav a { display: block; width: 120px; float: left; color: #FFF; }
#nav a:hover { background: #9AB2CE; }
#nav .active {background: #9AB2CE;}
#product_list{
    width: 960px;
    margin: 0 auto;
    padding-bottom: 20px;
}
/*content*/
#container{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
#product_list li{
    list-style: none;
	display: inline-block;
    margin-top: 10px;
}
#product_list li .li_div{
    width: 460px;
    height: 330px;
    margin-right: 14px;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
    background-color: #FFF;
    overflow: hidden;
}
#product_list li .pdt_describe{
    width: 460px;
    height: 60px;
    color: #000000;
    line-height: 60px;
    margin-top: 0px;
    position: relative;
}
#product_list li .pdt_describe p{
    margin-left: 15px;
}
#product_list img,#container img,#container .block_item{
    width: 460px;
    height: 270px;
}
.pdt_describe a{
	width: 128px;
	height: 32px;
	display: block;
	background: url("/lengtoo/img/download/download_0.png") no-repeat center;
	position: absolute;
	right: 10px;
	top: 14px;
}
.pdt_describe a:hover{
	background: url("/lengtoo/img/download/download_1.png") no-repeat center;
}
.footer{
    width: 100%;
    text-align: center;
    margin: 0px auto;
    background-color: #EFF7FA;
    padding-top: 10px;
}
.footer .ft_content{
    width: 960px;
    text-align: center;
    margin: 0px auto;
}
select { 
	color: #F1F1F1;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
    background: #5AD1EA;
    overflow: hidden;
}
select option {
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
    background: #5AD1EA;
    overflow: hidden;
}
